@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;500&display=swap");

body {
  margin: 0;
  font-size: 16px;
  font-family: "Lato", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  color: $site-text;
  p {
    opacity: 0.7;
  }
  .light {
    opacity: 0.5;
  }

  h2 {
    opacity: 0.5;
  }
}
