@import "./../../styles/colors.scss";
@import "./../../styles/layout.scss";
@import "./../../styles/text.scss";

div.item {
  width: auto;
  height: 30px;
  border-radius: 4px;
  padding: 0 10px;
  cursor: pointer;
  .name {
    font-weight: bold;
    min-width: 60px;
  }
  .value {
  }
}

div.item {
  transition: all 100ms;
  &:hover {
    background-color: darken($site-background, 5%);
    color: darken($site-text, 10%);
  }
  .name {
  }
  .value {
  }
}
